HTML/tugas-1/logo.ico
HTML/tugas-7/icon.png
HTML/tugas-10/sample.flac
HTML/tugas-10/sample.mp3
HTML/tugas-11/gambar.jpg
HTML/tugas-11/sample.mp4
HTML/tugas-12/gambar.jpg
HTML/tugas-12/sample.mp4
HTML/tugas-12/sample3.mp3